Django>=2
psycopg2
djangorestframework
djoser
markdown
django-filter
httpie
gunicorn
Pillow
PyMySQL
amqp
anyjson
arrow
django-cors-headers
django-debug-panel
django-debug-toolbar
django-countries
django-dbbackup
html5lib
python-dateutil
pytz
requests
simplejson
six
sphinx-me
sqlparse
vine
whichcraft
Willow
wheel